@media (max-width: 992px) {
    html {
        font-size: 75%;
    }

    #home .contentHome h1 {
        font-size: 30px;
    }

    #home .contentHome p {
        font-size: 15px;
    }

    #home .contentHome a {
        padding: 5px;
        font-size: 15px;
        width: 110px;
    }

    #home .gambarHome img {
        width: 450px;
        height: 300px;
    }

     .bannerProduct img {
    display: none;
  }

  .contentKiri {
    width: 100%;
    text-align: center;
  }

  .contentKiri a {
    display: block;
    text-align: center;
    width: 100%;
  }
}