@media (max-width: 992px) {
    html {
        font-size: 75%;
    }

    #home .contentHome h1 {
        font-size: 30px;
    }

    #home .contentHome p {
        font-size: 15px;
    }

    #home .contentHome a {
        padding: 5px;
        font-size: 15px;
        width: 110px;
    }

    #home .gambarHome img {
        width: 450px;
        height: 300px;
    }
}