@media (max-width: 500px) {
    html {
        font-size: 55%;
    }

    main {
        margin: auto 20px;
    }
}


@media (max-width: 480px) {
    html {
        font-size: 55%;
    }

    main {
        margin-left: 60px;
        width: 480px;
        border: 1px solid black;
    }
}