@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  #about .contentabout h1 {
    font-size: 30px;
  }

  #about .contentabout p {
    font-size: 15px;
  }

  #about .contentabout a {
    padding: 5px;
    font-size: 15px;
    width: 110px;
  }

  #about .gambarabout img {
    width: 450px;
    height: 300px;
  }

  .bannerProduct img {
    display: none;
  }

  #serviceHead {
    font-size: 30px;
  }

  .service p {
    font-size: 15px;
  }

  .contentKiri {
    width: 100%;
    text-align: center;
  }

  .contentKiri a {
    display: block;
    text-align: center;
    width: 100%;
  }

  
}
