@media (max-width: 500px) {
    html {
        font-size: 55%;
    }


    #serviceHead {
        font-size: 40px;
    }

    #home h1 {
        font-size: 30px;
      }
    
      #home span {
        font-size: 30px;
      }

      #home {
        background-image: none;
      }

    footer button {
        margin-left: 20px;
    }
}


@media (max-width: 480px) {
    html {
        font-size: 55%;
    }

    main {
        position: relative;
        right: 0;
        left: 0;
        margin-left: 0;
    }

    input {
        margin-right: 20px ;
    }

    .service .pickUp {
        flex-wrap: wrap;
        width: 35%;
    }

    .service .delivery {
        flex-wrap: wrap;
        justify-content: center;
    }

    #about .gambarabout img {
        width: 400px;
    }

    .contentDelivery h1 {
        text-align: center;
    }
    
    .contentDelivery p {
        text-align: center;
        width: 80%;
        margin-top: 10px;
    }

    .contentDelivery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contentPickUp h1 {
        text-align: center;
    }
    
    .contentPickUp p {
        text-align: center;
    }

    .footerTengahKiri {
        flex-wrap: wrap;
    }

    .footerTengahKiri .navigasiTambahan {
        margin-right: 0;
        width: 100%;
        text-align: center;
    }

    .ourContact {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    
}

@media (max-width: 440px) {
    main {
        left: 0px;
        right: 0px; 
        background-color: white;
    }

    footer {
        position: relative;
        left: 0px;
        right: 0px; 
    }

    #home h1 {
        font-size: 25px;
      }
    
      #home span {
        font-size: 25px;
      }

    
}