@media (max-width: 1366px) {
    html {
        font-size: 85%;
    }

    #home .contentHome h1 {
        font-size: 35px;
    }

    #home .contentHome p {
        font-size: 20px;
    }

    #home .contentHome a {
        padding: 5px;
        font-size: 15px;
        width: 110px;
    }

    #home .gambarHome img {
        width: 450px;
        height: 300px;
    }

    .dataDiri .profile img {
        width: 250px;
    }
}