@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .navLainnya .toggle a {
    font-size: 12px;
  }

  .navLainnya .toggle {
    height: 30px;
    width: 90px;
    display: none;
  }

  #home h1 {
    font-size: 15px;
  }

  #home span {
    font-size: 15px;
  }

  header nav ul li {
    display: block;
    width: 100%;
    text-align: center;
  }

  header nav {
    position: fixed;
    height: 300vh;
    background-color: #2d4059;
    top: 0;
    right: -400px;
    width: 200px;
    padding-right: 200px;
    transition: 0.2s linear;
  }

  header nav ul li a {
    color: white;
    font-size: 20px;
    margin: 20px auto;
    display: block;
  }

  .popUp {
    right: 0;
  }

  #hamburgerNav {
    display: block;
  }

  main {
    width: 100%;
  }

  #about {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin: auto;
  }

  #about .contentabout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }

  #about .contentabout h1,p {
    margin: 10px auto;
  }


  .pickUp h1, .pickUp p {
    margin-left: 0;
    text-align: center;
  }

  .pickUp p {
    font-size: 12px;
  }

  .delivery {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .pickUp {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .delivery p {
    font-size: 12px;
  }

  .delivery h1, .delivery p {
    margin-left: 0px;
    text-align: center;
  }

  .service .serviceBox {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    padding: 0px;
  }


  .footerTengah .footerTengahKiri {
    width: 100%;
    justify-content: space-between;
    padding: 0px 100px;
  }

  .footerTengahKiri {
    justify-content: center;
  }

  .footerTengahKanan {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .footerBawah {
    margin-top: 20px;
  }

  .footerTengahKanan input {
    margin-top: 20px;
  }

  .footerTengahKanan {
    text-align: center;
  }

  .footerTengah, .footerAtas, .footerBawah {
    justify-content: center;
  }
  

  .footerTengah {
    flex-wrap: wrap;
    width: 400px;
  }

  #home {
    height: 400px;
  }
}

@media (max-width: 630px) {
  #home {
    height: 320px;
  }   
}

@media (max-width: 530px) {
  #home {
    height: 280px;
  }   
}